#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedor{
  display: flex;
  gap: 40px;            
  align-items: flex-start;
  padding: 2rem;
}

.agregarRecetas {
  width: 300px;

}

.listadeRecetasBD{
  flex: 1;
}
.agregarRecetas, .listadeRecetasBD   {
  background: #3d3b3b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

